<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Twitcord</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Annie Wu" />
    <meta name="contributer" content="Steven M" />
    <meta
      name="description"
      content="Twitter clone, but if Twitter was owned by Discord"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="{% static 'css/signup.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <div class="page">
      <header>
        <img src="{% static 'img/logo.png' %}" alt="" />
      </header>
      <div class="container">
        <h2>Login</h2>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="input-row">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Zuzuz..."
              required
            />
          </div>
          <div class="input-row">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <a href="#">Forgot your password?</a>
          <button type="submit">Login</button>
        </form>
        <a href="{% url 'signup' %}">Need an account?</a>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
